body {
	background-color: #F8F8F8;
	font-family: 'Raleway', sans-serif;
}

header {
	position: static;
	top: 0;
	padding-top: 12px;
	height: 60px;
	width: 100%;
	text-align: center;
}

header > a > img {
	height: 50px;
}

footer {
	position: static;
	bottom: 0;
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
	font-size: 11px;
	color: #95a5a6;
}

ol {
	padding-left: 20px;
}

.container {
	padding-top: 40px;
}

.form_container {
	border: 1px solid #bdc3c7;
	border-radius: 5px;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

.form_header {
	background-color: #34495e;
	color: white;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-left: 25px;
	padding-top: 8px;
	margin-bottom: 10px;
}

.form_body {
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
}

.form_body > form > input {
	width: 100%;
	height: 30px;
	border: 1px solid #D7D7D7;
	border-radius: 3px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
}

.form_body > form > select {
	width: 100%;
	border: 1px solid #D7D7D7;
	margin-bottom: 10px;
}

.form_body > form > textarea {
	width: 100%;
	height: 150px;
	border: 1px solid #D7D7D7;
	border-radius: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 10px;
	resize: none;
}

.form_body > form > button {
	width: 75px;
	height: 35px;
	color: white;
	font-weight: bold;
	border: none;
	border-radius: 3px;
}

#id_picture {
	border: none;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: -5px;
}

#login, .success {
	background-color: #5ad427;
}

#register {
	color: black;
}

.cancel {
	background-color: #e74c3c;
}

.empty {
	background-color: #FFD3E0;
	border: 1px solid #FF1300;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
	padding: 5px 5px 5px 5px;
	text-align: center;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 60px;
	height: 100%;
	color: white;
	font-size: 20px;
	background-color: #2c3e50;
}

.selector {
	cursor: pointer;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.selector:hover {
	background-color: #43586E;
}

.selector:nth-child(1) {
	margin-top: 20px;
}

.selector > span {
	vertical-align: middle;
}

.selector > .select_name {
	font-size: 14px;
	margin-top: -10px;
	margin-left: 10px;
	display: none;
}

.subheader, .profile_header {
	margin-top: -20px;
	margin-bottom: 10px;
	margin-left: 5px;
	margin-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	border-bottom: 1px solid #95a5a6;
}

.rank_container {
	display: inline-block;
}

.rank_box {
	width: 350px;
	height: 147px;
	float: left;
	border: 1px solid #bdc3c7;
	padding: 10px 20px 10px 20px;
	margin: 5px 5px 5px 5px;
}

.searchbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 60px;
	text-align: center;
	background-color: #2b2b2b;
	display: none;
}

.searchbar > form > input {
	width: 350px;
	height: 30px;
	border: 1px solid #2b2b2b;
	border-radius: 3px;
	background-color: #4f4f4f;
	color: white;
	margin-top: 13px;
	padding-left: 10px;
	padding-right: 10px;
}

.foodholder {
	border: 1px dashed #E87E04;
	border-radius: 10px;
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}

.foodheader {
	font-weight: bolder;
	font-size: 32px;
	color: white;
	background-color: #E87E04;
	margin-top: -11px;
	margin-left: -21px;
	margin-right: -21px;
	margin-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	border: 1px solid #E87E04;
}

.foodheader > span{
	font-size: 26px;
	font-weight: normal;
}

.show_rating {
	font-size: 20px;
	float: right;
	margin-top: 7px;
}

.show_rating > button {
	color: #E87E04;
	font-size: 16px;
	border: none;
	border-radius: 3px;
	margin-left: 5px;
}

.like_button {
	background-color: white;
}

.unlike_button {
	background-color: #f1c40f;
}

.categories {
	margin-bottom: 3px;
}

.updated_info {
	font-size: 11px;
	color: #BFBFBF;
}

.manage_food {
	margin-top: 10px;
	display: inline-block;
}

.edit, .remove {
	width: 100px;
	height: 30px;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	float: left;
	text-align: center;
	padding-top: 5px;
}

.edit:hover, .remove:hover {
	opacity: 0.9;
}
.edit {
	background-color: #f39c12;
	margin-right: 3px;
}

.remove {
	background-color: #e74c3c;
	margin-left: 3px;
}

.profile_header {
	width: 750px;
	margin-left: auto;
	margin-right: auto;
	border-bottom: none;
}

.profile_header > span{
	font-size: 36px;
}

.manage_profile {
	margin-top: 15px;
	margin-right: 5px;
	float: right;
	display: inline-block;
}

.profile_body {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px 15px 15px 15px;
	background-color: #ecf0f1;
	border: 2px solid #bdc3c7;
}

.liked_food {
	margin-top: 7px;
	margin-bottom: 7px;
}

.liked_food > a {
	background-color: #e67e22;
	color: white;
	text-align: center;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 4px;
}

.liked_food > a:hover {
	text-decoration: none;
	opacity: 0.85;
}

.comment_container {
	margin-top: 15px;
}

.comment_container > .empty {
	width: 725px;
	margin-left: auto;
	margin-right: auto;
}

#comment_box {
	width: 725px;
	margin-left: auto;
	margin-right: auto;
}

#comment_box > textarea {
	width: 635px;
	height: 30px;
	max-height: 150px;
	resize: none;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
	border: 2px solid #bdc3c7;
	border-radius: 5px;
}

#comment_box > button {
	color: white;
	width: 75px;
	height: 35px;
	border: none;
	border-radius: 3px;
	margin-top: 2px;
	float: right;
}

.comments {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.comment {
	padding-top: 10px;
	border-bottom: 1px solid #bdc3c7;
}

.comment:last-child {
	border-bottom: none;
}

.comment > .datestamp {
	color: #bdc3c7;
	font-size: 11px;	
}

.remove_comment {
	float: right;
	cursor: pointer;
}

.remove_comment > span {
	color: #c0392b;
}

.subscribe_box {
	width: 1070px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 2px solid #f1c40f;
	text-align: center;
}

#subscribe_box_form > button {
	border: none;
	color: white;
	background-color: #f39c12;
	padding: 2px 5px 2px 5px;
	margin-top: 5px;
}

.category_cover {
	margin-top: 7px;
	margin-bottom: 7px;
}

.subscribed_categories {
	background-color: #f39c12;
	color: white;
	padding: 5px 7px 5px 7px;
	border-radius: 4px;
}