<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="/static/favicon.ico">-->
    <title>FoodTop</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href="/static/css/jquery-ui.css" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/extra.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.elastic.source.js"></script>
    <script type="text/javascript" src="/static/js/extra.js"></script>
  </head>

  <body role="document">
    <header>
      <a href="/"><img src="/static/img/logo.png" alt="FoodTop" draggable="false"></a>
    </header>
    <div class="searchbar">
      <form action="/result" method="get" class="ui-widget" name="searchbar">
        <input name="term" id="term" placeholder="Type a food name, then press Enter">
      </form>
    </div>
    <div class="container">
      {% block side %}{% endblock %}
      {% block content %}{% endblock %}
    </div>
    <footer>
      Copyright &copy; 2014 Brian Soe.
    </footer>
  </body>
</html>


