{% extends "with_sidebar.html" %}
{% block content %}
<div class="form_container">
  <div class="form_header">
    Edit Food
  </div>
  <div class="empty"></div>
  <div class="form_body">
    <form name="add_food" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <label for="title">Food Name (Title)</label><br/>
      {{ form.title|safe }}<br/>
      <label for="categories">Main Category</label><br/>
      {{ form.categories|safe }}<br/>
      <label for="body">Description (Body)</label><br/>
      {{ form.body|safe }}<br/>
      <button id="add" class="success" type="submit" name="add">Submit</button>
      <button class="cancel" name="cancel">Cancel</button>
    </form>
  </div>
</div>
{% endblock %}