{% extends "with_sidebar.html" %}
{% block content %}
{% if message != '' %}
<script>
	alert('{{ message }}');
	window.location.href = '/';
</script>
{% endif %}
<h2 class="subheader">{{ user.username }}, see what other people like!</h2>
<div class="subscribe_box">
	<b>View your favorite food categories:</b>
	<form id="subscribe_box_form" method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		{% for category in categories %}
		<input type="checkbox" name="{{ category.id }}" value="{{ category }}" {% if category in profile.subscribed.all() %} checked {% endif %}> {{ category }} &nbsp;&nbsp;</input>
		{% endfor %}<br/>
		<button type="submit">Update View</button>
	</form>
</div>
<div class="rank_container">
	{% if all|length != 0 %}
	<div class="rank_box">
		<b>Overall Favorites</b>
		{% if not all.order_by('-rating')[:5] %}
		<br/>No food is currently available
		{% else %}
		<ol>
			{% for f in all.order_by('-rating')[:5] %}
			<li><a href="/result?term={{ f }}">{{ f }}</a></li>
			{% endfor %}
		</ol>
		{% endif %}
	</div>
	{% for category in categories %}
	{% if category in profile.subscribed.all() %}
	<div class="rank_box">
		<b>{{ category.name }} Favorites</b>
		{% if not all.filter(categories=category).order_by('-rating')[:5] %}
		<br/>No {{ category.name }} food is currently available
		{% else %}
		<ol>
			{% for f in all.filter(categories=category).order_by('-rating')[:5] %}
			<li><a href="/result?term={{ f }}">{{ f }}</a></li>
			{% endfor %}
		</ol>
		{% endif %}
	</div>
	{% endif %}
	{% endfor %}
	{% endif %}
</div>
{% endblock %}