{% extends "base.html" %}
{% block content %}
{% if message != '' %}
<script type="text/javascript">
  alert('{{message}}');
</script>
{% endif %}
<div class="form_container">
  <div class="form_header">
    Sign In
  </div>
  <div class="empty"></div>
  <div class="form_body">
    <form name="user_login" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <label for="username">Username</label><br/>
      <input type="text" name="username"><br/>
      <label for="password">Password</label><br/>
      <input type="password" name="password"><br/>
      <button id="login" type="submit" name="login">Sign In</button>
      <button id="register" type="submit" name="register">Sign Up</button>
    </form>
  </div>
</div> <!-- Sign In Form Container -->
{% endblock %}