{% extends "base.html" %}
{% block content %}
<div class="form_container">
  <div class="form_header">
    Edit Profile
  </div>
  <div class="empty"></div>
  <div class="form_body">
    <form name="user_join" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <label for="username">Username</label><br/>
      {{ form['user'].username|safe }}<br/>
      <label for="email">Email Address</label><br/>
      {{ form['user'].email|safe }}<br/>
      <label for="password">Password</label><br/>
      {{ form['user'].password|safe }}<br/>
      <label for="confirm_password">Confirm Password</label><br/>
      <input type="password" name="confirm_password"><br/>
      <label for="website">Website (Optional)</label><br/>
      {{ form['profile'].website|safe }}<br/>
      <!--<label for="picture">Picture (Optional)</label><br/>
      {{ form['profile'].picture|safe }}<br/>-->
      <button id="register" class="join" type="submit" name="register">Modify</button>
      <button class="cancel" name="cancel">Cancel</button>
    </form>
  </div>
</div> <!-- Sign Up Form Container -->
{% endblock %}