{% extends "with_sidebar.html" %}
{% block content %}
<div class="profile_header">
	<span>
		{{ profile.user.username }}
		{% if profile.user.username == user.username %}
		(You)
		{% endif %}
	</span>
	{% if profile.user.username == user.username or user.is_staff %}
	<div class="manage_profile">
	{% if profile.user.username == user.username %}	
	<div id="edit_profile" class="edit">
		<span class="glyphicon glyphicon-pencil"></span>
		Edit
	</div>
	{% endif %}
		<div id="remove_profile" class="remove">
			<span class="glyphicon glyphicon-trash"></span>
			Remove
		</div>
	</div>
	{% endif %}
</div>
<div class="profile_body">
	<b>Website: </b> {% if not profile.website %}Not Available{% else %}<a href="{{ profile.website }}" target="_blank">{{ profile.website }}</a>{% endif %}<br/>
	<b>Favorite Categories: </b><br/>
	{% if not profile.subscribed.all() %}
	None<br/>
	{% else %}
	<div class="category_cover">
	{% for c in profile.subscribed.all() %} 
		<span class="subscribed_categories">{{ c }}</span>
	{% endfor %}</div>
	{% endif %}
	{% if profile.user.username != user.username %}
	<b>You and {{ profile.user.username }} both like following foods:</b><br/>
	{% if not common %}
	None<br/>
	{% else %}
	<div class="liked_food">
		{% for c in common %}
		<a href="/result?term={{ c }}">{{ c }}</a>
		{% endfor %}
	</div>
	{% endif %}
	<b>Other foods that {{ profile.user.username }} like:</b><br/>
		{% if diff == 0 %}
		None
		{% else %}
			<div class="liked_food">
				{% for r in profile.rated.all() %}
				{% if r not in common %}
				<a href="/result?term={{ r }}">{{ r }}</a>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	{% endif %}
	{% if profile.user.username == user.username %} 
	<b>You like following food(s):</b><br/>
	{% if profile.rated.all()|length != 0 %}
	<div class="liked_food">
		{% for r in profile.rated.all() %}
		<a href="/result?term={{ r }}">{{ r }}</a>
		{% endfor %}
	</div>
	{% else %}
	None
	{% endif %}
	{% endif %}
</div>
{% endblock %}