{% extends "with_sidebar.html" %}
{% block content %}
{% if message != '' %}
<script type="text/javascript">
  alert('{{message}}');
</script>
{% endif %}
<div class="form_container">
  <div class="form_header">
    Contact Admin (bug reports &amp; suggestions)
  </div>
  <div class="empty"></div>
  <div class="form_body">
    <form name="bug_report" method="post">
      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
      <label for="subject">Subject</label><br/>
      {{ report_form.subject|safe }}<br/>
      <label for="detail">Detail</label><br/>
      {{ report_form.detail|safe }}<br/>
      <button id="send_report" class="success" type="submit" name="add">Submit</button>
      <button class="cancel" name="cancel" onclick="history.go(-1);">Cancel</button>
    </form>
  </div>
</div>
{% endblock %}