{% extends "with_sidebar.html" %}
{% block content %}
{% if message != '' %}
<script>
	alert('{{ message }}');
	window.location.href = '/food?id={{ food.id }}';
</script>
{% endif %}
<div class="foodholder">
	<div class="foodheader">
		<span class="glyphicon glyphicon-cutlery"></span> {{ food.title }}
		<div class="show_rating">
			Rating: {{ food.rating }} vote(s)
			<button {% if like == 'Unlike' %}class="unlike_button"{% else %}class="like_button"{% endif %} onclick="location.href='/food?id={{ id }}&amp;action=rate'" type="submit" name="rate"><span class="glyphicon glyphicon-heart"></span> {{ like }}</button>
		</div>
	</div>
	<div class="categories">
		<b>Main Category: </b> 
		{% if not food.categories %}
		<span class="category">None</span>
		{% else %}
		<span class="category">{{ food.categories }}</span>
		{% endif %}
	</div>
	<p>{{ food.body }}</p>
	<div class="updated_info">
		<b>Posted by: </b>
		{% if food.author == 'anonymous' %}
		<span style="color: black"><b>Anonymous</b></span>
		{% else %}
		<a href="/profile?username={{ food.author }}">{{ food.author }}</a>
		{% endif %}
		 | 
		<b>Last Updated: </b>{{ food.updated.strftime('%B %d, %Y') }}<br/>
	</div>
	{% if user == food.author or user.is_staff %}
	<div class="manage_food">
		<div id="edit_food" class="edit">
			<span class="glyphicon glyphicon-pencil"></span>
			Edit
		</div>
		<div id="remove_food" class="remove">
			<span class="glyphicon glyphicon-trash"></span>
			Remove
		</div>
	</div>
	{% endif %}
</div>
<div class="comment_container">
	<div class="empty"></div>
	<form id="comment_box" name="add_comment" method="post">
		<input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
		<b>Add a comment:</b><br/>
		{{ comment_box.content|safe }}
		<button id="add_comment" class="success" type="submit" name="add">Submit</button>
	</form>
	<div class="comments">
		{% for c in comments %}
		<div class="comment">
			<a href="/profile?username={{ c.author }}"><b>{{ c.author }}</b></a> <span class="datestamp">{{ c.updated.strftime('%B %d, %Y') }}</span>
			{% if c.author == user.username or user.is_staff %}
			<div onclick="location.href='/comments?removed={{ c.id }}'" class="remove_comment"><span class="glyphicon glyphicon-remove"></span> Delete</div>
			{% endif %}
			<br/>
			<p>{{ c.content }}</p>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}