{% extends "base.html" %}
{% block side %}
<div class="sidebar">
  <div id="search_toggle" class="selector">
    <span class="glyphicon glyphicon-search"></span>
    <span class="select_name">Search</span>
  </div>
  <div onclick="location.href='/'" class="selector">
    <span class="glyphicon glyphicon-home"></span>
    <span class="select_name">Home</span>
  </div>
  <div onclick="location.href='/profile?username={{ user.username }}'" class="selector">
    <span class="glyphicon glyphicon-user"></span>
    <span class="select_name">{{ user.username }}</span>
  </div>
  <div onclick="location.href='/add'" class="selector">
    <span class="glyphicon glyphicon-plus"></span>
    <span class="select_name">Add Food</span>
  </div>
  <div onclick="location.href='/report'" class="selector">
    <span class="glyphicon glyphicon-send"></span>
    <span class="select_name">Contact Admin</span>
  </div>
  <div onclick="location.href='/?logout={{ user.username }}'" class="selector">
    <span class="glyphicon glyphicon-off"></span>
    <span class="select_name">Sign Out</span>
  </div>
</div>
{% endblock %}
{% block content %}
{% endblock %}